/*  your css code here. If applicable */
#yellow {
	background: yellow;
	border-bottom: solid 1px;
	border-left:solid 1px;
	border-right:solid 1px;
		border-top:solid 1px;
	border-color: green;
}
#red {
	background: red;
	border-bottom: solid 1px;
	border-left:solid 1px;
	border-right:solid 1px;
		border-top:solid 1px;
	border-color: black;
}
#green {
	background: green;
	border-bottom: solid 1px;
	border-left:solid 1px;
	border-right:solid 1px;
		border-top:solid 1px;
	border-color: yellow;
}
